@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #191c32 ;
    color: #fff;
}

header {
    width: 100%;
    top: 0;
    background-color: #191c32 ;
    position: fixed;
}




.item{
    scroll-margin-top: 10ex;
}
.wrapper{
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.menu{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.brand span{
    color: aqua;
}

.menu li {
    list-style: none;
}
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: aqua;
}

.menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

#inicio{
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.titulo-inicio{
    display: flex;
    justify-content: center;
}

.contenido-inicio{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
}
.contenido-inicio .static-txt{
    color: #fff;
    font-size:60px;
    font-weight: 400;
}

.contenido-inicio .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    color:aqua;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top:0;
    animation: slide1 6s steps(4) infinite;
}

@keyframes slide1 {
    100%{
        top:-360px;
    }
}

.dynamic-txts li span{
    position:relative;
}

.dynamic-txts li span::after{
    content:"";
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #191c32 ;
    border-left: 2px solid aqua;
    animation: typing1 1.5s steps(10) infinite;
}

@keyframes typing1 {
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}

#inicio h2{
    font-size: 25px;
}

@keyframes typing {
    from { width: 0}
}
@keyframes blink {
    50% {border-color: transparent;}
}


#inicio h1 span{
    color: aqua;
}

#sobremi {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#sobremi .imagen-sobremi{
    margin: auto;

}

#sobremi .contenido-sobremi{
    width: 550px;
    margin: auto;
}

#sobremi .contenido-sobremi #titulo-sobremi{
    font-size: 12px;
}

#sobremi .contenido-sobremi h1{
    display:block;
    font-size: 35px;
    margin-top: 30px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 9ch;
    animation:typing 3.5s steps(9) infinite, blink .5s infinite step-end alternate;
    overflow: hidden;
}

#sobremi .contenido-sobremi h1 span{
    color: aqua;
}

#sobremi .contenido-sobremi #parrafo-sobremi{
    text-align: justify;
    margin-top: 30px;
    font-size: 22px;
}

#sobremi img{
    border:  7px solid aqua;
    border-radius: 30px;
    width: 450px;
    height: 520px;
}

#educacion {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}
#educacion #izquierda{
    flex-flow:column wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#educacion #izquierda h1{
    font-size: 70px;
}
#educacion img{
    margin: auto;
    height: 500px;
    width: 500px;
}
#educacion #derecha li{
    font-size: 35px;
    list-style: none;
}
#educacion #derecha .fecha{
    color: aqua;
}
#educacion #derecha .institucion{
    font-size: 29px;
    font-style: italic;
}

#educacion #derecha .titulo-certificado{
    font-weight: bold;
}




#competencias{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
}
#competencias div span{
    font-size: 60px;
    font-weight: bold;
}
.title-competencia{
    color:aqua;
    font-weight: bold;
}
#skills-competencia {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
    margin: 0 auto;
}

.img-competencia{
    height: 200px;
    width: 200px;
}

.skill{
    height: 400px;
    width: 400px;
    text-align: center;
    margin: 5px;
}






#footeritem{
    width: 100%;
    height: 100%;
    display: block;
    flex-flow: row wrap;

}
footer{
    width: 100%;
    height: 100%;
    background: black;
}
footer ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
footer ul li {
    list-style: none;
  }
  
footer ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
footer ul li a:hover:before {
    top: 0;
  }
  
footer ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
footer ul li:nth-child(2) a:before{
    background: #485258;
  }
  
footer ul li:nth-child(3) a:before {
    background: #0077b5;
  }


  @media (max-width:600px){
    .menu{
        display: none;
    }
  }
  .contenidoCV{
    border: 1px;
    padding: 30px;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    margin: 0 auto
}

.item{
    height: auto;
}



#nacionalidad {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow:column wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
#nacionalidad h1{
    font-size: 70px;
    font-weight: bold;
}
#nacionalidad h1 .amarillo{
    color: yellow;
}
#nacionalidad h1 .azul{
    color: blue;
}
#nacionalidad h1 .rojo{
    color: red;
}
.contenido-nacionalidad {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.img-ecuador{
    height: 200px;
    width: 280px; 
}
#mapa iframe{
    height: 133px;
    width: 300px;
}
#video iframe{
    width:560px;
    height:315px;
}
#contactame{
    background-image: url(recursos/contact_bg.png);
    background-color: #191c32;
    padding: 50px 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
}
.contenido-seccion{
    display: flex;
    flex-flow:row wrap;
}

#formulario .form-group{
    margin-bottom: 10px;
    align-items: center;
}


.contenido-seccion{
    max-width: 1000px;
    margin: auto;
    row-gap: 0.5rem; 
    justify-content: center;
    align-items: center;

}
.contenido-seccion #contacto{
    width: 450px;
    height: 650px;
}

.contenido-seccion p {
    width: 500px;
    margin: auto;
}
#contactame #contacto{
    width: 50%;
    padding: 10px;

    align-items: center;
}
#contactame h1{
    font-size: 45px;
}
#contactame h2{
    font-size: 40px;
}
#contactame p{
    font-size: 30px;
}
#contactame #formulario{
    width: 50%;
}
#contactame #formulario .form-group{
    width: 450px;
    
}
.contenido-seccion #formulario input, .contenido-seccion #formulario textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contenido-seccion button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contenido-seccion button:hover .overlay{
    width: 100%;
}

@media (max-width:1010px){
    .contenido-seccion{
        flex-flow: column wrap;
        justify-content: center;
    }
    .contenido-seccion #contacto{
        height: auto;
    }
    
}