@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #191c32 ;
    color: #fff;
}

header {
    width: 100%;
    top: 0;
    background-color: #191c32 ;
    position: fixed;
}




.item{
    scroll-margin-top: 10ex;
}
.wrapper{
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.menu{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.brand span{
    color: aqua;
}

.menu li {
    list-style: none;
}
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: aqua;
}

.menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

#inicio{
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.titulo-inicio{
    display: flex;
    justify-content: center;
}

.contenido-inicio{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
}
.contenido-inicio .static-txt{
    color: #fff;
    font-size:60px;
    font-weight: 400;
}

.contenido-inicio .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    color:aqua;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top:0;
    animation: slide1 6s steps(4) infinite;
}

@keyframes slide1 {
    100%{
        top:-360px;
    }
}

.dynamic-txts li span{
    position:relative;
}

.dynamic-txts li span::after{
    content:"";
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #191c32 ;
    border-left: 2px solid aqua;
    animation: typing1 1.5s steps(10) infinite;
}

@keyframes typing1 {
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}

#inicio h2{
    font-size: 25px;
}

@keyframes typing {
    from { width: 0}
}
@keyframes blink {
    50% {border-color: transparent;}
}


#inicio h1 span{
    color: aqua;
}

#sobremi {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#sobremi .imagen-sobremi{
    margin: auto;

}

#sobremi .contenido-sobremi{
    width: 550px;
    margin: auto;
}

#sobremi .contenido-sobremi #titulo-sobremi{
    font-size: 12px;
}

#sobremi .contenido-sobremi h1{
    display:block;
    font-size: 35px;
    margin-top: 30px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 9ch;
    animation:typing 3.5s steps(9) infinite, blink .5s infinite step-end alternate;
    overflow: hidden;
}

#sobremi .contenido-sobremi h1 span{
    color: aqua;
}

#sobremi .contenido-sobremi #parrafo-sobremi{
    text-align: justify;
    margin-top: 30px;
    font-size: 22px;
}

#sobremi img{
    border:  7px solid aqua;
    border-radius: 30px;
    width: 450px;
    height: 520px;
}

#educacion {
    width: 100%;
    height: 900px;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#educacion img{
    margin: auto;
    height: 300px;
    width: 300px;
}







#competencias{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
}

#skills-competencia {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
    margin: 0 auto;
}

.img-competencia{
    height: 200px;
    width: 200px;
}

.skill{
    height: 400px;
    width: 400px;
    text-align: center;
    margin: 5px;
}






#footeritem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: red;
}
footer{
    width: 100%;
    height: 100%;
    background: black;
}
footer ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
footer ul li {
    list-style: none;
  }
  
footer ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
footer ul li a:hover:before {
    top: 0;
  }
  
footer ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
footer ul li:nth-child(2) a:before{
    background: #485258;
  }
  
footer ul li:nth-child(3) a:before {
    background: #0077b5;
  }


  @media (max-width:600px){
    .menu{
        display: none;
    }
  }
  .contenidoCV{
    border: 1px;
    padding: 30px;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    margin: 0 auto
}

.item{
    height: auto;
}



#nacionalidad {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:column wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.contenido-nacionalidad {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.img-ecuador{
    height: 200px;
    width: 280px; 
}
#mapa iframe{
    height: 133px;
    width: 300px;
}
#video iframe{
    width:560px;
    height:315px;
}
#contactame{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow:column wrap;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        justify-content: center;
        align-items: center;
}