@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #191c32 ;
    color: #fff;
}

header {
    width: 100%;
    top: 0;
    background-color: #191c32 ;
    position: fixed;
}


main{
    display:flex;
    flex-direction: column;
}


.item{
    scroll-margin-top: 10ex;
}
.wrapper{
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.menu{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.brand span{
    color: aqua;
}

.menu li {
    list-style: none;
}
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: aqua;
}

.menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

#inicio{
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.titulo-inicio{
    height: 49%;
}

.contenido-inicio{
    display: inline-flex;
    height: 49%;
}
.contenido-inicio .static-txt{
    color: #fff;
    font-size:60px;
    font-weight: 400;
}

.contenido-inicio .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    color:aqua;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top:0;
    animation: slide1 6s steps(4) infinite;
}

@keyframes slide1 {
    100%{
        top:-360px;
    }
}

.dynamic-txts li span{
    position:relative;
}

.dynamic-txts li span::after{
    content:"";
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #191c32 ;
    border-left: 2px solid aqua;
    animation: typing1 1.5s steps(10) infinite;
}

@keyframes typing1 {
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}

#inicio h2{
    font-size: 25px;
}

@keyframes typing {
    from { width: 0}
}
@keyframes blink {
    50% {border-color: transparent;}
}


#inicio h1 span{
    color: aqua;
}

#sobremi {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow:row wrap;
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

#sobremi .imagen-sobremi{
    margin: auto;

}

#sobremi .contenido-sobremi{
    width: 550px;
    margin: auto;
}

#sobremi .contenido-sobremi #titulo-sobremi{
    font-size: 12px;
}

#sobremi .contenido-sobremi h1{
    display:block;
    font-size: 35px;
    margin-top: 30px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 9ch;
    animation:typing 3.5s steps(9) infinite, blink .5s infinite step-end alternate;
    overflow: hidden;
}

#sobremi .contenido-sobremi h1 span{
    color: aqua;
}

#sobremi .contenido-sobremi #parrafo-sobremi{
    text-align: justify;
    margin-top: 30px;
    font-size: 22px;
}

#sobremi img{
    border:  7px solid aqua;
    border-radius: 30px;
    width: 450px;
    height: 520px;
    z-index: 1;
}

#educacion {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
}

#educacion #izquierda{
    margin: auto;
}

#educacion #derecha{
    margin: auto;
}